<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home_style.css')}}">
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="header-logo">
                    <p class="logo-text">Homework</p>
                </div>
                <div class="header-buttons">
                    <button class="user-button"></button>
                    <a href="statistics.html">
                    <button class="task-button">Statistics</button>
                    </a>
                </div>
            </div>
            <div class="tasks-container">
                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Math</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">History</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">National history</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">IT</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">English</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Ukrainian</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Art</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Literacy</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Germany</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Geography</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Music</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Physical education</p>
                        </div>
                        <p class="task-block-about-text">
                            Here you can add a short description
                            for your task
                        </p>
                        <div class="task-line">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>