<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <p class="horizonLogo" >Horizon</p>
    <div class="leftBlock">

    </div>
    <div class="center">
        <div class="centerBlockContent">
            <div class="inputs">
                <h3 class="text">Registration</h3>
                <label>
                    <input class="firstName" placeholder=" First name">
                </label>
                <label>
                    <input class="lastName" placeholder=" Last name">
                </label>
                <label>
                    <input class="email" placeholder=" Email">
                </label>
                <label>
                    <input class="password" placeholder=" Password">
                </label>
                <a href="home.html">
                     <button class="registerButton" type="submit">Submit</button>
                 </a>
            </div>
        </div>
    </div>
    <div class="rightBlock">

    </div>
</div>
</body>
</html>