<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/statistics_style.css')}}">
		<style type="text/css">

   #pic {
    float: right;
   }
   #text {
    margin-right: 5px;
   }
  </style>
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="header-logo">
                    <p class="logo-text">Math</p>
                </div>
                <div class="header-buttons">
                    <button class="user-button"></button>
                    <a href="home.html">
                    <button class="task-button">Home</button>
                    </a>
					
				</div>
												
            </div>
			
			<div id="pic">
			<img src="/static/images/statistics.png" width="700" >
			
			<div class="child">
                    <p class="logo">DAY</p>
                </div><div class="child">
                    <p class="logo">WEEK</p>
                </div><div class="child">
                    <p class="logo">MONTH</p>
              
                </div><div class="child">
                    <p class="logo">YEAR</p>
                </div>
			
			</div>

                <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Experience1</p>
                        </div>
                        
                        <div class="task-line">

                        </div>
                    </div>
                </div> <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Experience2</p>
                        </div>
                        
                        <div class="task-line">

                        </div>
                    </div>
                </div> <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Experience3</p>
                        </div>
                        
                        <div class="task-line">

                        </div>
                    </div>
                </div> <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Experience4</p>
                        </div>
                        
                        <div class="task-line">

                        </div>
                    </div>
                </div> <div class="task-block">
                    <div class="task-block-column">
                        <div class="tasks-header">
                            <p class="task-block-main-text">Experience5</p>
                        </div>
                        
                        <div class="task-line">
						     

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>